h1{
    color:wheat;
    font-family: monospace;
}
h2{
    color: blue;
     font-family:cursive;  
}
p{
    color:wheat;

}

body{
    background: url(./image.webp);
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 2px;

}